.container-fluid
    .im-searches
        .im-search-by-size.btn.btn-default.btn-link Image size distribution
        .im-search-by-serial-number.btn.btn-default.btn-link Serial number distribution
        .im-blur-controls
            | Unblur&nbsp;
            .btn-group(role="group", data-toggle="buttons")
                label.btn.btn-default(class=(unblur == "never") ? "active": "")
                    input(type="radio", name="blur-options", value="never")
                    | Never
                label.btn.btn-default(class=(unblur == "hover") ? "active": "")
                    input(type="radio", name="blur-options", value="hover")
                    | On hover
                label.btn.btn-default(class=(unblur == "always") ? "active": "")
                    input(type="radio", name="blur-options", value="always")
                    | Always
    if userData.images.length > 0
        for result in userData.images
            .im-image-area
                .im-details.btn.btn-link.btn-default(im-id="#{result.id}")
                    .im-thumbnail
                        img.im-image-thumbnail.im-blur(src=result.imageUrl)
                .im-caption
                    .im-caption-content.hidden
                        .im-remove.btn.btn-link.btn-lg(im-id="#{result.id}", title="Delete")
                            i.icon-trash
                        .im-find-similar.btn.btn-link.btn-lg(im-id="#{result.id}", title="Find similar images")
                            i.icon-search
                        .im-details.btn.btn-link.btn-lg(im-id="#{result.id}", title="Info")
                            i.icon-info
