.container-fluid
    .hide
        input#im-files(type="file", multiple="multiple")
    #im-upload.btn.btn-primary
        i.icon-image
        |  Browse or drop image
    .im-searches
        .im-search-by-size.btn.btn-default.btn-link Image size distribution
        .im-search-by-serial-number.btn.btn-default.btn-link Serial number distribution
    if userData.images.length > 0
        for result in userData.images
            .im-image-area
                .im-details.btn.btn-link.btn-default(im-id="#{result.id}")
                    .im-thumbnail
                        img.im-image-thumbnail.im-blur(src=result.imageUrl)
                .im-caption
                    .im-caption-content.hidden
                        .im-remove.btn.btn-link.btn-lg(im-id="#{result.id}", title="Delete")
                            i.icon-trash
                        .im-find-similar.btn.btn-link.btn-lg(im-id="#{result.id}", title="Find similar images")
                            i.icon-search
                        .im-details.btn.btn-link.btn-lg(im-id="#{result.id}", title="Info")
                            i.icon-info
