.container-fluid
    if results.length > 0
        for result in results
            .im-image-area.col-xs-6.col-md-3
                .im-details.btn.btn-link.btn-default(im-id="#{result.id}")
                    .im-thumbnail
                        img.im-image-thumbnail.im-blur(src=result.imageUrl)
                .im-caption
                    .im-caption-content.hidden
                        .im-add-user-data.btn.btn-link.btn-lg(im-id="#{result.id}", title="Save")
                            i.icon-floppy
                        .im-find-similar.btn.btn-link.btn-lg(im-id="#{result.id}", title="Find similar images")
                            i.icon-search
                        .im-details.btn.btn-link.btn-lg(im-id="#{result.id}", title="Details")
                            i.icon-info
    else
        h1 No search results found.
