.bg
.jumbotron
  .container
    h1.page-title Challenges@Kitware
    p.
      The best software in the world is useless without the right data.
      Kitware's Data and Analytics team unites data and software from
      world-class researchers and developers through <b>data-driven</b>
      challenges.
    p.c-contact-header.
      <b><a href="mailto:kitware@kitware.com">Contact us</a></b> to get
      started on your challenge today.

  .container.c-learn-main-text
    .row
      .col-md-4
        h2 What is a challenge?
        p.
          A data-driven challenge is a problem with well-defined inputs and
          outputs to which competitors can submit results that are then
          scored against a known ground-truth and ranked. Kitware's
          challenge platform allows outputs or code that produces outputs to
          be submitted, and will automatically score the result submissions.

      .col-md-4
        h2 Why challenges?
        p.
          As the age of Big Data&trade; leads to a proliferation of
          statistical and machine-learning methods for solving complex
          problems, it becomes ever more important to run the latest and
          greatest algorithms on <i>real-world data</i>. When designed
          properly, challenges can show you how state-of-the-art methods
          work on data that is much more representational of the problem
          domain at large, rather than with toy, synthetic, or sample data.

      .col-md-4
        h2 How does this work?
        p.
          Kitware and our academic and industry partners have combined
          decades of High-Performance Computing and medical imaging
          experience with our modern data and analytics framework,
          TangeloHub, to produce a platform for hosting data-driven
          challenges.

      hr

      .row
        .col-md-12
          h2#more Software is not enough
          .video-wrapper
            iframe(width="560",
                   height="349",
                   src="//www.youtube.com/embed/t0fiwkLNXqE",
                   frameborder="0",
                   allowfullscreen)
        .col-md-12
          p The development of most novel software consists of four steps:
            ol
              li.
                Search literature in the problem domain to find the latest
                methods.
              li.
                Search the open source ecosystem for an implementation of a
                suitable algorithm.
              li.
                Customize the open source algorithm to meet your needs or
                build an implementation from scratch.
              li.
                Cross your fingers and hope the method is general enough for
                your use cases.
          p With data-driven challenges we can do better.
          p.
            Instead of relying only on the published results, we can setup a
            streamlined, automated system to verify that any potential
            solution actually solves <b>your problem</b> on <b>your data</b>.
            <a href="mailto:kitware@kitware.com">Contact us</a>
            to get started on creating your challenge today.

      hr

      .row
        .col-md-5
          h2#what What is a challenge?
          p.
            A data-driven challenge (often called a grand challenge) is a
            structured "contest" that allows contestants to submit results or
            even executables, scripts, and/or code to be scored against the
            results or methods of other contestants. When challenge
            organizers chose representative datasets and define the problem
            well, data-driven challenges have the potential to bring the best
            method available to solve real-world problems.
          p.
            The result of good challenges is a win for both parties.
            Algorithm developers discover how methods work on real data, and
            challenge organizers find out what the field has to offer.
            Challenges provide an excellent start to many productive working
            relationships.

        .col-md-7
          img(src="#{imgRoot}/leaderboard.png", alt="leaderboard")
      hr

      .row
        .col-md-6
          img(src="#{imgRoot}/challenge-why.jpg", alt="connections")
        .col-md-6
          h2#why Why challenges?
          p.
            Modern scientific research software is often published with
            detailed analyses over the datasets to which the investigators
            had access. This often makes it difficult assess the utility of a
            given method on your data. Businesses spend millions in research
            and development in attempts to rework published methods on their
            specific data. We think there's a better way.
          p.
            Data-driven challenges connect stakeholders who have immediate
            real problems with communities of algorithm developers eager to
            prove their methods' generality and applicability to new domains.
            Bringing these two complimentary groups together with an
            automated web-based system enhances reproducibility and will save
            time and money.  Stakeholders can see how the methods compare to
            each other for datasets of interest, and algorithm developers
            have a platform that empowers improvements in their methods.

      hr

      .row
        .col-md-8
          h2#how How does this work?
          p.
            The COVALIC system is built on the TangeloHub platform--an open
            source data and analytics platform made up of three major
            components:
            <a href="http://www.tangelohub.org/tangelo/">Tangelo</a>,
            <a href="http://www.tangelohub.org/girder/">Girder</a>, and
            <a href="http://www.tangelohub.org/romanesco/">Romanesco</a>.
            A simplified explanation is that data is submitted to Girder,
            processed with Romanesco, and visualized using Tangelo.
          p.
            For more detailed information,
            <a href ="http://www.tangelohub.org/">check this out</a>.
        .col-md-4
          img(height="200",src="#{imgRoot}/challenge-how.jpg"
              alt="tangelo, girder, and romanesco")
      hr
