.row
    .im-image-area.col-xs-6.col-md-3
        .im-details.btn.btn-link.btn-default(im-id=image.get('id'))
            .im-thumbnail
                img.im-image-thumbnail.im-blur(src=image.get('imageUrl'))
    .col-xs-6.col-md-9
        h4= image.get('id')
        div!= '<b>Size:</b> ' + image.get('tiff_imagewidth') + 'x' + image.get('tiff_imagelength')
        div!= '<b>Extracted text:</b> ' + image.get('content')
        div!= '<b>Serial number:</b> ' + image.get('camera_serial_number')
        div!= '<b>Ad ID:</b> ' + image.get('ads_id')
        div!= '<b>Geolocation:</b> ' + image.get('geo_lat') + ' latitude, ' + image.get('geo_long') + ' longitude'
        div
            .im-add-user-data.btn.btn-link.btn-md(im-id=image.get('id'), title="Save")
                i.icon-floppy
                | &nbsp;Save
            if similaritySearch
              .im-find-similar.btn.btn-link.btn-md(im-id=image.get('id'), title="Find similar images")
                  i.icon-search
                  | &nbsp;Find similar
            .im-details.btn.btn-link.btn-md(im-id=image.get('id'), title="Details")
                i.icon-info
                | &nbsp;Details
