.im-image-area.col-xs-6.col-md-3
    .im-details.btn.btn-link.btn-default(im-id="#{image.id}")
        .im-thumbnail
            img.im-image-thumbnail.im-blur(src=image.imageUrl)
    .im-caption
        .im-caption-content.hidden
            .im-add-user-data.btn.btn-link.btn-md(im-id="#{image.id}", title="Save")
                i.icon-floppy
            .im-find-similar.btn.btn-link.btn-md(im-id="#{image.id}", title="Find similar images")
                i.icon-search
            .im-details.btn.btn-link.btn-md(im-id="#{image.id}", title="Details")
                i.icon-info
