.row
    .im-image-area.col-xs-6.col-md-3
        .im-details(im-id=image.get('id'))
            .im-thumbnail
                img.im-image-thumbnail.im-blur(src=image.get('imageUrl'))
    .col-xs-6.col-md-9
        h4= image.get('id')
        if image.has('tiff:imagelength_l_md') && image.has('tiff:imagewidth_l_md')
          div
            b Size:
            !{image.get('tiff:imagewidth_l_md') + 'x' + image.get('tiff:imagelength_l_md')}

        if image.has('content')
          div
            b Extracted text:
            !{image.get('content')}

        if image.has('geo:lat_d_md') && image.has('geo:long_d_md')
          div
            b Geolocation:
            !{image.get('geo:lat_d_md') + ' latitude, ' + image.get('geo:long_d_md') + ' longitude'}

        if image.has('make_t_md')
          div
            b Camera Make
            !{image.get('make_t_md')}
        div
            .im-add-user-data.btn.btn-link.btn-md(im-id=image.get('id'), title="Save")
                i.icon-floppy
                | &nbsp;Save
            if similaritySearch
              .im-find-similar.btn.btn-link.btn-md(im-id=image.get('id'), title="Find similar images")
                  i.icon-search
                  | &nbsp;Find similar
            .im-details.btn.btn-link.btn-md(im-id=image.get('id'), title="Details")
                i.icon-info
                | &nbsp;Details
