- var startIndex = (collection.pageNum() * collection.pageLimit)
- var toIndex = startIndex + collection.length
- var total = collection.numFound

.container-fluid
  .clearfix
  #search-controls.form-control
    if collection.supportsPagination && collection.length
      .im-results-pagination.pull-left
        .im-pagination-container
        p Showing results #{startIndex + 1} - #{toIndex} of #{total}

    form#im-classification-narrow.pull-left
      div
        input(type='checkbox', name='is-revolver', data-key='smqtk_hg_revolver_d_md',
              checked=(classifications.indexOf('smqtk_hg_revolver_d_md') !== -1 ? 'checked' : false))
        label Revolver
      div
        input(type='checkbox', name='is-long-gun', data-key='smqtk_hg_long_gun_d_md',
              checked=(classifications.indexOf('smqtk_hg_long_gun_d_md') !== -1 ? 'checked' : false))
        label Long Gun
      div
        input(type='checkbox', name='is-semiauto', data-key='smqtk_hg_semiauto_d_md',
              checked=(classifications.indexOf('smqtk_hg_semiauto_d_md') !== -1 ? 'checked' : false))
        label Semiautomatic

    .im-view-mode.pull-right
      .btn-group(data-toggle="buttons")
        label.btn.btn-default(class=(viewMode === 'grid' ? 'active' : ''))
          input.im-view-grid(type="radio", name="options", autocomplete="off", checked=(viewMode === 'grid' ? 'true' : null))
          i.icon-th
          | &nbsp;Grid
        label.btn.btn-default(class=(viewMode === 'list' ? 'active' : ''))
          input.im-view-list(type="radio", name="options", autocomplete="off", checked=(viewMode === 'list' ? 'true' : null))
          i.icon-th-list
          | &nbsp;List

  #im-search-results
    if !collection.length
      h1 No search results found.
